nav{
  bottom: 0px;
  right: 0px;
  left: 0px;
  position:fixed;
  display: flex;
  justify-content:space-between;
  align-items: center;
  min-height: 14vh;
  background-color: rgb(39, 39, 44);
  color: white;
  font-size: medium;
}